<!DOCTYPE html>
<html>
<head>
<title>Dienstplan</title>
<!-- Für Express müssen die Pfade der importierten Dateien noch angepasst werden. (PUG umwandlung)-->
<link rel='stylesheet' href='../public/fullcalendar/fullcalendar.css' /> 
<script src='../public/fullcalendar/jquery.min.js'></script>
<script src='../public/fullcalendar/moment.min.js'></script>
<script src='../public/fullcalendar/fullcalendar.js'></script>
<script src='../public/fullcalendar/singleCalendar.js'></script>

</head>
<body>
    
<div id='calendar'></div>


</body>
</html>